#bloc_page {
  font-family:Lucida,Trebuchet, sans-serif;
  background-color: yellow;
  border: 1px solid red;
  width:400px;
  margin:auto;
  line-height: 3px;
  height: auto;
}


body {
  font-size:1em;
  color: red;

}

h1 {
  font-family:Impact;
  font-size: 2em;
  color:red;
  text-align:justify;
  padding:5px 0 0 5px;
}

h2 {
  font-size: 1.5em;
  color: red;
  padding: 0 10px 0 5px;
}

h3 {
  font-family: Impact;
  font-size: 0.9em;
  color: yellow;
}

a {
  font-size: 0.8em;
  padding: 0 100px 0 5px;
  color:black;
}

p {
  font-size: 0.9em;
  color:black;
}

.align {
  display:flex;
  justify-content: flex-start;
  align-items:baseline;
}

#contact {
  background-color: red;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

#logo {
  text-align:right;
  position:relative;
  top:10px;
  right:40px;
  height: 5px;

}
